<mat-card align="center" class="mat-card">
  <mat-card-title>
    <img src="../assets/img.jpg" mat-card-avatar class="mat-card-avatar">
  </mat-card-title>
  <form [formGroup]="SignupForm" #Signupform="ngForm" (submit)="Signup()">
    <h3 class="title">Signup</h3>
    <mat-card-content>
        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-error *ngIf="SignupForm.get('username').hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field> <br>
        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Email address" formControlName="email" required>
          <mat-error *ngIf="SignupForm.get('email').hasError('pattern')"> 
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="SignupForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field> <br>
        <mat-form-field class="mat-form-field" required>
          <input matInput placeholder="Password" type="password" formControlName="password" required>
          <mat-error *ngIf="SignupForm.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    </mat-card-content>
    <button mat-raised-button [disabled]="!Signupform.form.valid">Signup</button><br><br>
  </form>
  <span class="title">Already have an account? <br><a routerLink="/login" class="title"> Login Here </a></span>
</mat-card> 