.mat-card-avatar {
    height: 100px !important;
    width: 100px !important;
    border-radius: 50%;
    flex-shrink: 0;
}
.mat-card {
    background-color: white !important;
    width: 35%;
    margin: 120px auto;
}
.mat-form-field{
    /* width: 300px !important; */
    display: inline;
}
.title{
    color: #33AEE6;
}
/* mat-form-field.md-default-theme label, 
 mat-form-field.md-default-theme .mat-placeholder{
    color:grey !important;
} */